@font-face {
	font-family: 'Codeus-Icons';
	src:url('../../../fonts/smartlinks/Codeus-Icons.eot');
	src:url('../../../fonts/smartlinks/Codeus-Iconsd41d.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/smartlinks/Codeus-Icons.ttf') format('truetype'),
		url('../../../fonts/smartlinks/Codeus-Icons.woff') format('woff'),
		url('../../../fonts/smartlinks/Codeus-Icons.svg#Codeus Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}